html {
    font-size: 0.94vw;
  }

body{
    background: #E2E3E5;
}

@font-face {
	font-family: "hudson";
	src: url("./fonts/HUDSON\ NY\ SERIF.TTF");
}

@font-face {
	font-family: "chypre-cond";
	src: url("./fonts/INSIGNE\ -\ CHYPRE\ COND\ REGULAR.OTF");
}

@font-face {
	font-family: "chypre-norm";
	src: url("./fonts/INSIGNE\ -\ CHYPRE\ NORM\ BLACK.OTF");
}


main{
    width: 56.5%;
    margin: auto;
    background: #fff

}
figure, img{
    width: 100%
}

.box-text{
    margin-top: 4.15rem;
    margin-left: 6.81rem;
    margin-right: 6.81rem;
}
.p-red{
    font-family: "hudson";
    color: #9C252D;
    text-align: center;
    font-size: 1.66rem;
    line-height: 2.21rem
}
.otter{
    margin-top: 2rem
}

.linea1{
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem
}



.ponente{
    width: 17.01rem;
    height: auto;
}
.ponente img{
    width: 100%
}
.box-ponente{
    display: flex
}
.p-nombre{
    font-size: 1.77rem;
    color: #A99354;
    font-family: "hudson";
    line-height: 2rem;
    text-align: right
}

.p-gerente{
    font-size: 1.21rem;
    color: #9C252D;
    font-family: "hudson";
    text-align: right
}

.linea2{
    width: 90%;
    margin-left: 5.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.fundador{
    font-family: "hudson";
    color: #A99354;
    font-size: 2.05rem;
    line-height: 2.38rem;
    padding-left: 5.5rem
    
}
.text-fundador{
    width: 28.20rem;
}


/*input */

.box-input {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .box-input input {
    margin: auto;
    margin-top: .7rem;
    height: 2.88rem;
    cursor: pointer
  }
  .input-style {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    width: 100%;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font-family: "gotham";
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1.6rem;
    line-height: 2.05rem;
    padding: 1px 0px;
    border: 0.15rem solid #c4a330;
  }
  
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #c4a330;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c4a330;
    opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c4a330;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c4a330;
  }
