html {
    font-size: 0.94vw;
}

body {
    background: #e2e3e5;
}

@font-face {
    font-family: "hudson";
    src: url("./fonts/HUDSON\ NY\ SERIF.TTF");
}

@font-face {
    font-family: "chypre-cond";
    src: url("./fonts/INSIGNE\ -\ CHYPRE\ COND\ REGULAR.OTF");
}

@font-face {
    font-family: "chypre-norm";
    src: url("./fonts/INSIGNE\ -\ CHYPRE\ NORM\ BLACK.OTF");
}

main {
    width: 56.5%;
    margin: auto;
    background: #fff;
}

figure,
img {
    width: 100%;
}

.box-text {
    margin-top: 4.15rem;
    margin-left: 6.81rem;
    margin-right: 6.81rem;
}

.p-red {
    font-family: "hudson";
    color: #9c252d;
    text-align: center;
    font-size: 1.66rem;
    line-height: 2.21rem;
}

.otter {
    margin-top: 2rem;
}

.linea1 {
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.ponente {
    width: 17.01rem;
    height: auto;
}

.ponente img {
    width: 100%;
}

.box-ponente {
    display: flex;
}

.p-nombre {
    font-size: 1.77rem;
    color: #a99354;
    font-family: "hudson";
    line-height: 2rem;
    text-align: right;
}

.p-gerente {
    font-size: 1.21rem;
    color: #9c252d;
    font-family: "hudson";
    text-align: right;
}

.linea2 {
    width: 90%;
    margin-left: 5.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fundador {
    font-family: "hudson";
    color: #a99354;
    font-size: 2.05rem;
    line-height: 2.38rem;
    padding-left: 5.5rem;
}

.text-fundador {
    width: 28.2rem;
}

/*input */

.box-input {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.box-input input {
    margin: auto;
    margin-top: 0.9rem;
    height: 2.88rem;
    cursor: pointer;
}

.input-style {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    width: 100%;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font-family: "hudson";
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1.6rem;
    line-height: 2.05rem;
    padding: 1px 0px;
    border: 0.15rem solid #A99354;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #A99354;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #A99354;
    opacity: 1
        /* esto es porque Firefox le reduce la opacidad por defecto */
    ;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #A99354;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #A99354;
}

input:focus {
    outline: none;
    /* border:0.2rem solid black; */
    box-shadow: 3px 3px 3px 2px black;
}

.formulario {
    width: 100%;
    margin: auto;
}

.style-radio {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.style-radio input {
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
}


.style-radio:hover .radio {
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 rgba(221, 115, 29, 0.534);
}

.style-radio input:checked+.radio {
    border-color: #A99354;
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 #A99354;
    cursor: default;
}

.style-radio:hover .radio::before,
.style-radio input:checked+.radio::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-radio input:checked+.radio::before {
    background-color: rgb(196, 163, 48);
    box-shadow: 1px 2px 2px 0 rgb(196, 163, 48);
}

.style-radio input+.radio+.text {
    color: #A99354;
    cursor: pointer;
    align-self: center;
}

.style-radio input+.radio+.text-check {
    color: #A99354;
    cursor: pointer;
    align-self: center;
    align-self: center;
    padding: 0rem 0.5rem;
}

.style-radio input:checked+.radio+.text {
    color: rgb(196, 163, 48);
    cursor: default;
}

.style-radio input:checked+.radio+.text-check {
    color: rgb(196, 163, 48);
    cursor: default;
}

.style-radio .text {
    color: #A99354;
    cursor: pointer;
    /* margin-right: 10px; */
    font-family: "hudson";
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1.18rem;
    line-height: 2.05rem;
}

.style-radio .text-check {
    color: #A99354;
    cursor: pointer;
    /* margin-right: 10px; */
    font-family: "hudson";
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1.5rem;
    line-height: 2.05rem;
}

.letter-register {
    font-family: "hudson";
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1.25rem;
    line-height: 2.05rem;
    color: rgb(196, 163, 48);
}

.letra-soy {
    font-family: "hudson";
    font-style: normal;
    color: #A99354;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    text-align: center;
}

.box-radio {
    margin-top: 0.7rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0.15rem solid #A99354;
}

label {
    margin-bottom: 0 !important;
}

.box-check-soy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.9rem;
    padding: 0.5rem 0rem;
    border: 0.15rem solid #A99354;
}

.box-selecciona {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.linea3 {
    width: 8%
}

.p-selecciona {
    color: #A99354;
    font-size: 2.21rem;
    font-family: "hudson";
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.linea4 {
    width: 0.68%;
    position: absolute;
    /* padding-left: 14rem; */
    left: 57%
}

.linea4-1 {
    left: 41%
}

.box-days {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
}

.box-day {
    display: flex;
    flex-direction: row;
    /* width: 33.3%; */

}

/* .padding-day{
    padding: 1rem;
} */

label {
    margin-bottom: 0 !important;
}


.div-button {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.button-registrar {
    width: 24rem;
    height: 4rem;
    border: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.button-registrar:hover {
    border: none;
    transform: scale(1.04);
}


.box-days {
    display: flex;
    margin-top: 3rem;
    text-align: right;
    justify-content: space-between;
    margin-bottom: 4rem
}

.lunes {
    font-family: "chypre-cond";
    color: #9C252D;
    font-size: 1.22rem;
    font-weight: 900;
    font-style: italic;
    line-height: 1.77rem;
    margin-bottom: .5rem;
    text-align: center !important
}

.text-check-red {
    color: #9C252D;
    font-family: "chypre-cond";
    font-style: normal;
    font-weight: 600;
    font-size: 1.22rem;
    line-height: 1.77rem
}

.style-radio .radio-red {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 1rem;
    width: 1rem;
    border-radius: 0.18rem;
    margin-right: 5px;
    border: 0.15rem solid #9C252D;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s all;
    color: #fff;
    left: 1rem;
    text-align: right
}

button {
    background: none
}


.footer {
    margin-bottom: 2rem
}

.style-radio .radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.2rem;
    margin-right: 5px;
    border: 0.2rem solid #A99354;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s all;
    color: #fff;
}

.style-radio:hover .radio-red {
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 #9C252D;
}

.style-radio input:checked+.radio-red {
    border-color: #9C252D;
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 #9C252D;
    cursor: default;
}

.style-radio:hover .radio-red::before,
.style-radio input:checked+.radio-red::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.style-radio input:checked+.radio-red::before {
    background-color: #9C252D;
    box-shadow: 1px 2px 2px 0 #9C252D;
}

.style-radio input+.radio-red+.text {
    color: #9C252D;
    cursor: pointer;
    align-self: center;
}

.style-radio input+.radio-red+.text-check {
    color: #9C252D;
    cursor: pointer;
    align-self: center;
    align-self: center;
    padding: 0rem 0.5rem;
}

.style-radio input:checked+.radio-red+.text {
    color: #9C252D;
    cursor: default;
}

.style-radio input:checked+.radio-red+.text-check {
    color: #9C252D;
    cursor: default;
}

.mr-2 {
    margin-right: 0.11rem !important;
}

/* @media (max-width: 768px) {
    main {
        width: 80%;
        margin: auto;
        background: #fff;
    }

    .linea4{
        width: 1%;
        padding-left: 21rem
    }
    .footer{
        margin-bottom: 1rem
    }
    .linea4-1{
        left: 17%
    }
    .linea4-2{
        left: 44%
    }
} */


@media (max-width: 768px) {
    html {
        font-size: 4.6vw;
    }

    main {
        width: 100%;
        margin: auto;
        background: #fff;
    }

    .box-text {
        margin-top: 1.2rem;
        margin-left: 2.6rem;
        margin-right: 2.6rem;
    }

    .p-red {
        font-size: .97rem;
        line-height: 1rem
    }

    .linea1 {
        margin-top: 2rem;
        padding-bottom: 1rem
    }

    .otter {
        margin-top: 1rem;
    }

    .box-ponente {
        flex-direction: column
    }

    .ponente {
        width: 6.22rem;
        margin: auto
    }

    .p-nombre {
        font-size: .97rem;
        line-height: 2rem;
        text-align: center;
    }

    .p-gerente {
        font-size: .97rem;
        text-align: center;
    }

    .linea2 {
        width: 80%;
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .fundador {
        font-size: .97rem;
        line-height: 1rem;
        padding-left: 0rem;
        text-align: center
    }

    .text-fundador {
        width: 100%
    }

    .input-style {
        font-size: .97rem
    }

    .box-input input {
        height: 1.63rem;
    }

    .letra-soy {
        font-size: .97rem
    }

    .style-radio .text-check {
        font-size: .97rem
    }

    .p-selecciona {
        font-size: 1.15rem;
        text-align: center;
        padding-left: .6rem;
        padding-right: .6rem
    }

    .box-selecciona {
        margin-left: 2.1rem;
        margin-right: 2.1rem
    }

    .box-input input,
    .box-check-soy {
        margin-top: .5rem
    }

    .linea3 {
        width: 15%
    }

    .box-days {
        flex-direction: column;
        text-align: center;
        margin-bottom: -1rem;
        margin-top: 1rem
    }

    .button-registrar {
        width: 80%
    }

    .box-day {
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        width: 100%
    }

    .lunes,
    .text-check-red {
        font-size: 1rem
    }

    .linea4 {
        transform: rotate(90deg);
        width: 2%;
        padding-left: 8rem;

    }

    .padding-day {
        padding: 0rem
    }

    .div-button {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .footer {
        margin-bottom: 0rem
    }

    .linea4-1 {
        left: 28%
    }

    .linea4-2 {
        left: 28%
    }

    .letra-soy {
        padding-left: 0rem;
        padding-right: 0rem
    }

    .mr-2 {
        margin-right: -0.2rem !important;
    }

    .style-radio .radio-red {
        height: 1.1rem;
        width: 1.1rem;
    }

    .style-radio .radio {
        height: 1.1rem;
        width: 1.1rem;
    }
}